@import './theme.scss';
@import 'bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: 'tealfont';
  src: url('../assets/fonts/Quicksand-Medium.ttf');
  border-radius: 10px;
}


html, body, .App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  color: $primary;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: 'tealfont' !important;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 65px;
  font-size: .6rem;
  text-decoration: none !important;
  a {
    text-decoration: none !important;
    color: $secondary !important;
  }
}